<?xml version="1.0"?>
<config>

    <modules>
        <Linus_Common>
            <version>0.1.0</version>
        </Linus_Common>
    </modules>

    <global>
        <helpers>
            <linus_common>
                <class>Linus_Common_Helper</class>
            </linus_common>
        </helpers>

        <blocks>
            <linus_common>
                <class>Linus_Common_Block</class>
            </linus_common>
        </blocks>

        <events>
            <!-- CartController->addAction -->
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <linus_common>
                        <type>singleton</type>
                        <class>Linus_Common_Model_Observer</class>
                        <method>onControllerActionPredispatchCheckoutCartAdd</method>
                    </linus_common>
                </observers>
            </controller_action_predispatch_checkout_cart_add>

            <!-- Mage_Core_Controller_Varien_Action->loadLayoutUpdates -->
            <controller_action_layout_load_before>
                <observers>
                    <linus_common>
                        <type>singleton</type>
                        <class>Linus_Common_Model_Observer</class>
                        <method>onControllerActionLayoutLoadBefore</method>
                    </linus_common>
                </observers>
            </controller_action_layout_load_before>


            <linus_common_block_before_head_getCssJsHtml>
                <observers>
                    <linus_common>
                        <type>singleton</type>
                        <class>Linus_Common_Model_Observer</class>
                        <method>onLinusCommonBlockBeforeHeadGetCssJsHtml</method>
                    </linus_common>
                </observers>
            </linus_common_block_before_head_getCssJsHtml>

            <core_block_abstract_to_html_before>
                <observers>
                    <linus_common>
                        <type>singleton</type>
                        <class>Linus_Common_Model_Observer</class>
                        <method>onCoreBlockAbstractToHtmlBefore</method>
                    </linus_common>
                </observers>
            </core_block_abstract_to_html_before>

        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <linus_common module="Linus_Common">
                    <file>linus_common.xml</file>
                </linus_common>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <events>
            <model_save_after>
                <observers>
                    <linus_common>
                        <type>singleton</type>
                        <class>Linus_Common_Model_Observer</class>
                        <method>onAdminModelSaveAfter</method>
                    </linus_common>
                </observers>
            </model_save_after>
        </events>
    </adminhtml>

</config>
