<?xml version="1.0"?>
<config>

    <modules>
        <Linus_Common>
            <version>0.1.0</version>
        </Linus_Common>
    </modules>

    <global>
        <helpers>
            <linus_common>
                <class>Linus_Common_Helper</class>
            </linus_common>
        </helpers>
    </global>

</config>
