/**
 * common.css - Linus Common
 *
 * Provide useful rulesets for styling general features. Note that there
 * should be as little styling as possible. None is preferable, unless it is
 * to provide js-* selectors for JavaScript interactions.
 *
 * @author Dane MacMillan <work@danemacmillan.com>
 */

/*
For use with the common show/hide
Hides and removes the element from the flow.
*/
.js-hidden {
    display: none;
}

/*
For use with the common show/hide.
*/
.js-invisible {
    position: absolute;
    visibility: hidden;
    left: -10000em;
}
